---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import styles from '../styles/global.css'

import {HERO_MESSAGES} from "../consts";
import SocialBtn from './SocialBtn.astro';
import Available from './Available.astro';

---

<section class="flex justify-center align-middle py-52 gap-50 h-screen items-center">
  <!-- Plain text and others -->
  <div class="flex flex-col gap-6 max-w-100">
    <div class="flex flex-row align-middle"><Available /></div>
    <h1 class="text-5xl font-black">{HERO_MESSAGES.en.title}</h1>
    <h3 class="text-2xl">{HERO_MESSAGES.en.subtitle}</h3>

    <div class="flex gap-3">
      <SocialBtn url={HERO_MESSAGES.en.github}><i class="fa-brands fa-github"></i></SocialBtn>
      <SocialBtn url={HERO_MESSAGES.en.linkedin}><i class="fa-brands fa-linkedin"></i></SocialBtn>
      <SocialBtn url="/cv">Download CV</SocialBtn>
    </div>
  </div>

  <!-- Img -->
  <div class="">
    <img src="https://media.licdn.com/dms/image/v2/D4D03AQEYuKPm_Tkbfg/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1711109220983?e=1743638400&v=beta&t=8CoxoQ_mtEPSnYh-gX2_sCm29QWmNRQcSx96UJ_69e8" alt="Me!">
  </div>
</section>