---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import styles from '../styles/global.css'

import { HERO_MESSAGES } from "../constants/hero";
import { AVAILABILITY_MSG } from "../constants/consts";
import Available from './Available.astro';
import Image from 'astro/components/Image.astro';
import Link from './Link.astro';

import cv from '../assets/cv.pdf'

import GithubLogo from '../assets/github.svg'

const { language } = Astro.params;

---

<section id="hero" class="flex justify-center align-middle sm:py-0 sm:px-0 gap-50 h-screen items-center">
  <!-- Plain text and others -->
  <div class="flex flex-col gap-6 max-w-100">
    <div class="flex flex-row align-middle"><Available statusMsg={HERO_MESSAGES[language]} /></div>
    <h1 class="text-5xl font-black">{HERO_MESSAGES[language].title}</h1>
    <h3 class="text-2xl">{HERO_MESSAGES[language].subtitle}</h3>

    <!--  rounded-tl-lg rounded-br-lg  -->
    <div class="flex gap-3">
      <Link class="rounded-tl-lg rounded-br-lg dark:border-neutral-700 dark:bg-neutral-700 dark:hover:bg-neutral-800" 
      url={HERO_MESSAGES[language].github} title='My GitHub Profile'><i class="fa-brands fa-github"></i></Link>
      <Link class="rounded-tl-lg rounded-br-lg dark:border-neutral-700 dark:bg-neutral-700 dark:hover:bg-neutral-800" 
      url={HERO_MESSAGES[language].linkedin} title='My LinkedIn Profile'><i class="fa-brands fa-linkedin"></i></Link>
      <Link class:list="bg-amber-400 hover:bg-amber-500 dark:bg-yellow-700 dark:hover:bg-amber-500 dark:border-neutral-600 font-bold" url={cv} title='Download my CV' download><i class="fa-solid fa-download"></i> CV
    </div>
  </div>

  <!-- Img -->
  <div class="xl:block">
    <Image 
    src="https://media.licdn.com/dms/image/v2/D4D03AQEYuKPm_Tkbfg/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1711109220983?e=1743638400&v=beta&t=8CoxoQ_mtEPSnYh-gX2_sCm29QWmNRQcSx96UJ_69e8" 
    alt="Me!"
    width={200}
    height={200}/>
  </div>
</section>