---
import { PROJECTS } from '../constants/projects'
import ProjectCard from './ProjectCard.astro'

const { language } = Astro.params 

---

<section id="projects" class="flex justify-center items-center gap-10 my-20 mx-35">
  <div class="grid grid-cols-1 gap-10 xl:grid-cols-3">
  {PROJECTS.map((project: any) => (
    <ProjectCard 
      bgImg={project.bgImg} 
      title={project[language].title} 
      shortDesc={project[language].shortDesc} 
      link={`.${project.link}`} 
      repo={project.repo} 
    />
  ))}
  </div>
</section>