---
import Link from './Link.astro';

interface Props {
  bgImg: string;
  title: string;
  shortDesc: string;
  link: string;
  repo: string;
}

const { bgImg, title, shortDesc, link, repo } = Astro.props
---

<article class="flex flex-col border p-5 rounded-lg">
  <img class="" src={bgImg} alt="">
  <div class="flex flex-col max-w-100 min-h-50 align-middle justify-center">
    <h1 class="text-2xl font-bold">{title}</h1>
    <p>{shortDesc}</p>
  </div>
  <div class="flex justify-between">
    <Link class="rounded-sm hover:bg-indigo-400 dark:bg-neutral-800 dark:hover:bg-indigo-600" url={repo} title='Go to project repo'><i class="fa-brands fa-github"></i></Link>
    <Link class="rounded-sm hover:bg-yellow-400 font-bold dark:bg-neutral-800 dark:hover:bg-yellow-400" url={link} title='Go to project page'>Project</Link>
  </div>
</article>